# Understand Embedding layer

## Reformatting embedding activations shape

Using flatten and reshape

In [13]:
import keras
import pandas as pd

from keras.models import Sequential
from keras.layers import *

In [14]:
model = keras.models.load_model('./models/bycountry_model')
new_model = Sequential()
new_model.add(model.layers[0])
new_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 100, 64)           640000

=================================================================
Total params: 640,000
Trainable params: 640,000
Non-trainable params: 0
_________________________________________________________________

In [15]:
df = pd.read_json('./data/bycountry_ds.json')
df.head()

,category,input,output_low,output_medium,output_high
http://dbpedia.org/resource/...All_the_Marbles,[United States],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1,0
http://dbpedia.org/resource/An_Eye_for_an_Eye_(1981_film),[United States],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1,0
http://dbpedia.org/resource/Brain_Dead_(1990_film),[United States],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1,0
http://dbpedia.org/resource/For_Pete's_Sake_(film),[United States],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1,0
http://dbpedia.org/resource/Hannah_Montana:_The_Movie,[United States],"[25, 6677, 48, 2, 138, 5, 331, 1, 7, 25, 6983,...",0,0,1

In [29]:
inputs = [x for x in df.input]
activations = new_model.predict(inputs)
activations.shape

544/544 [==============================] - 0s 681us/step

(17403, 100, 64)

In [30]:
flatten_activations = activations.flatten()

In [31]:
activations = flatten_activations.reshape(64, -1)

In [32]:
pd.DataFrame(activations).head()

,0,1,2,3,4,5,6,7,8,9,...,1740290,1740291,1740292,1740293,1740294,1740295,1740296,1740297,1740298,1740299
0,0.039747,-0.019695,-0.034212,0.013875,-0.006768,-0.027497,-0.002492,0.006977,-0.012125,-0.005127,...,0.043842,-0.029589,0.029421,0.023205,-0.004205,-0.044950,-0.078792,0.008838,-0.027779,0.063462
1,0.083132,-0.033289,0.014021,0.056810,-0.038771,-0.063809,-0.080149,-0.025952,0.002706,-0.060284,...,0.025883,-0.006145,-0.049136,-0.051173,0.002770,0.019913,-0.018239,-0.006167,-0.071103,0.000276
2,-0.073031,-0.042128,-0.009223,-0.006004,-0.007434,0.023129,0.039719,0.038422,-0.018450,-0.003013,...,0.025879,0.002695,-0.016780,-0.016574,-0.016934,0.017754,0.040748,-0.010469,0.015730,0.055091
3,0.020319,0.002041,-0.330534,-0.013534,0.010805,0.017232,-0.007957,0.027219,-0.001712,0.005996,...,0.114419,-0.002460,0.048312,0.045513,0.007434,0.014343,-0.024378,-0.009294,0.059597,0.056978
4,0.014964,-0.050706,0.019785,-0.004439,0.025644,0.095024,0.013421,-0.014450,-0.042372,-0.022922,...,-0.014151,-0.022551,-0.000939,-0.033253,-0.012630,0.002452,0.037097,-0.012935,0.038586,0.005274