# Testing stuff here...

In [1]:
import pandas as pd
import numpy as np
import os

On souhaite vérifier que les activations moyénées et brutes sont les mêmes

In [48]:
dfs = []
for filename in os.listdir(os.path.join('src', 'visualizer_data', 'activations', 'painters_ds')):
    if filename.split('.')[-1] == 'pkl' and 'table_data' not in filename and 'n_' not in filename:
        #print(filename)
        if filename.split(' - ')[0].isdigit():
            print(filename)
            dfs.append(pd.read_pickle(os.path.join('src', 'visualizer_data', 'activations', 'painters_ds', filename)))

0 - embedding.pkl
1 - lstm.pkl
2 - dense.pkl
3 - dropout.pkl
4 - dense_1.pkl
5 - dense_2.pkl

In [50]:
layer_to_explore = 0
df = dfs[layer_to_explore]

In [60]:
def get_cat_df(df, cat):
    return df[df.category.apply(lambda x: cat in x)]

def get_mean_activations(df):
    df_act = df.iloc[:, 4:]
    return df_act.mean()

def get_sample(df, cat=None):
    if cat is None:
        return df[df.pred != df.true].sample(n=1)
    else:
        return get_cat_df(df, cat)[df.pred != df.true].sample(n=1)
    
def standardize(df):
    df_s = df.copy()
    for col in df:
        #if "neuron" in col:
        df_s[col] = (df[col] - df[col].mean()) / df[col].std()

    return df_s

In [82]:
sample = get_sample(df, cat='http://dbpedia.org/resource/Italy')
sample

C:\Users\maxim\AppData\Local\Temp/ipykernel_14036/338817337.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return get_cat_df(df, cat)[df.pred != df.true].sample(n=1)

,category,input,true,pred,neuron_1,neuron_2,neuron_3,neuron_4,neuron_5,neuron_6,...,neuron_55,neuron_56,neuron_57,neuron_58,neuron_59,neuron_60,neuron_61,neuron_62,neuron_63,neuron_64
http://dbpedia.org/resource/Jacopo_Vignali,[http://dbpedia.org/resource/Italy],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,0,0.981528,0.612633,0.617453,-0.597026,0.670561,0.640494,...,0.759109,0.718112,-0.459895,-0.766357,0.695528,-0.671998,0.799318,-0.732826,0.887562,-0.945776

In [83]:
sample_index = sample.index[0]
sample_index

'http://dbpedia.org/resource/Jacopo_Vignali'

In [84]:
df_fa = pd.read_pickle(os.path.join('src', 'visualizer_data', 'activations', 'painters_ds', 'embedding-raw.pkl'))

In [93]:
df_s = standardize(df_fa.iloc[:, 4:])

In [99]:
pd.DataFrame(pd.DataFrame(df_s[df_s.index == sample_index].to_numpy().reshape(-1, 64)).mean()).T

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.302142,0.202141,0.247663,-0.209159,0.152212,0.114047,-0.362816,0.321073,-0.157829,-0.37622,...,0.393666,0.37679,-0.136705,-0.396767,0.252154,-0.346981,0.293302,-0.248814,0.366618,-0.214513

In [85]:
df_fa[df_fa.index == sample_index]

,category,input,true,pred,0,1,2,3,4,5,...,9590,9591,9592,9593,9594,9595,9596,9597,9598,9599
http://dbpedia.org/resource/Jacopo_Vignali,[http://dbpedia.org/resource/Italy],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,0,0.01824,0.033064,0.045167,-0.038204,0.027363,-0.002155,...,0.003537,-0.058497,0.042195,-0.013293,0.021208,0.052655,-0.038614,-0.030681,-0.027246,-0.061894

In [88]:
sample_act_raw = df_fa.iloc[0, 4:].to_numpy().reshape(-1, 64)
sample_act_raw

array([[0.018239787, 0.0330644, 0.045167074, ..., -0.037980087,
        0.034873746, -0.012977618],
       [0.018239787, 0.0330644, 0.045167074, ..., -0.037980087,
        0.034873746, -0.012977618],
       [0.018239787, 0.0330644, 0.045167074, ..., -0.037980087,
        0.034873746, -0.012977618],
       ...,
       [-0.07048481, -0.034919675, -0.07680662, ..., 0.041424096,
        -0.017329695, 0.04023082],
       [0.07325929, -0.073582985, -0.063237, ..., 0.0634019, 0.033525888,
        -0.060929965],
       [-0.030371526, -0.08505992, -0.05513349, ..., -0.0012984888,
        0.01700694, -0.05379531]], dtype=object)

In [90]:
pd.DataFrame(sample_act_raw).mean()

0     0.015262
1     0.024435
2     0.035410
3    -0.031234
4     0.020837
        ...
59   -0.067252
60    0.031596
61   -0.030866
62    0.031695
63   -0.012747
Length: 64, dtype: float64